/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow1 {
  background-image: url(../../assets/images/sprite.png);
  background-position: 0px 0px;
  width: 11px;
  height: 14px;
}
.icon-arrow2 {
  background-image: url(../../assets/images/sprite.png);
  background-position: 0px -18px;
  width: 10px;
  height: 14px;
}
.icon-panle {
  background-image: url(../../assets/images/sprite.png);
  background-position: 0px -36px;
  width: 15px;
  height: 14px;
}
.icon-notice {
  background-image: url(../../assets/images/sprite.png);
  background-position: 0px -54px;
  width: 18px;
  height: 16px;
}
.icon-expand-open-hover {
  background-image: url(../../assets/images/sprite.png);
  background-position: 0px -74px;
  width: 20px;
  height: 20px;
}
.icon-expand-open {
  background-image: url(../../assets/images/sprite.png);
  background-position: 0px -98px;
  width: 20px;
  height: 20px;
}
.icon-arrow {
  background-image: url(../../assets/images/sprite.png);
  background-position: 0px -122px;
  width: 25px;
  height: 25px;
}
.icon-gou {
  background-image: url(../../assets/images/sprite.png);
  background-position: 0px -151px;
  width: 29px;
  height: 26px;
}
.icon-expand-default-hover {
  background-image: url(../../assets/images/sprite.png);
  background-position: 0px -181px;
  width: 31px;
  height: 28px;
}
.icon-expand-default {
  background-image: url(../../assets/images/sprite.png);
  background-position: 0px -213px;
  width: 31px;
  height: 28px;
}
.icon-triangle {
  background-image: url(../../assets/images/sprite.png);
  background-position: 0px -245px;
  width: 25px;
  height: 29px;
}
.icon-icon-xiushi {
  background-image: url(../../assets/images/sprite.png);
  background-position: 0px -278px;
  width: 30px;
  height: 30px;
}
.icon-select-bg {
  background-image: url(../../assets/images/sprite.png);
  background-position: 0px -312px;
  width: 190px;
  height: 30px;
}
.icon-empty1 {
  background-image: url(../../assets/images/sprite.png);
  background-position: 0px -346px;
  width: 38px;
  height: 62px;
}
.icon-title-bg {
  background-image: url(../../assets/images/sprite.png);
  background-position: 0px -412px;
  width: 212px;
  height: 64px;
}
.icon-close {
  background-image: url(../../assets/images/sprite.png);
  background-position: 0px -480px;
  width: 85px;
  height: 80px;
}
